<!-- 메뉴 -->
<nav class="menu">
  <ul class="nav-bar nav">
    <li class="nav-item">
      <a class="nav-link menu-item" href="/">홈</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-item" href="/about">소개</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown00"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/transportation"
        >교통수단</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown00">
        <a class="dropdown-item" href="/trains">Trains</a>
        <a class="dropdown-item" href="/trains/new">Create New Train</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown01"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/subscribers"
        >구독자</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="/subscribers">View All Subscribers</a>
        <a class="dropdown-item" href="/subscribers/new">Create New Subscriber</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown02"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/users"
        >사용자</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown02">
        <a class="dropdown-item" href="/users">View All Users</a>
        <a class="dropdown-item" href="/users/new">Create New User</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown03"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/courses"
        >코스</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown03">
        <a class="dropdown-item" href="/courses">View All Courses</a>
        <a class="dropdown-item" href="/courses/new">Create New Course</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown04"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/talks"
        >발표</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown04">
        <a class="dropdown-item" href="/talks">View All Talks</a>
        <a class="dropdown-item" href="/talks/new">Create New Talk</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="menu-item nav-link dropdown-toggle"
        id="dropdown05"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="/movies"
        >영화</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="/movies">View All Movies</a>
        <a class="dropdown-item" href="/movies/new">Create New Movie</a>
      </div>
    </li>
  </ul>
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>
